 body{
        background-image: url("inter.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Jost', sans-serif;
    }
    .a{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1 solid cadetblue;
    }
    .a a{
        color: black;
        text-decoration: none;
        margin-right: 12px;
    }
    .b{
        position: absolute;
        left: 1050px;
        top: 350px;
        opacity: 0.7;
    }
    .c{
        position: absolute;
        left: 1040px;
        top: 255px;
        opacity: 0.7;
    }
    .d{
        position: absolute;
        left: 1200px;
        top: 520px;
        opacity: 0.7;
    }
    .e{
        position: absolute;
        left: 850px;
        top: 320px;
        opacity: 0.7;
    }
    .f{
        position: absolute;
        left: 300px;
        top: 80px;
        opacity: 0.7;
    }
    .a8{
        position: absolute;
        left: 1200px;
        top: 375px;
        opacity: 0.7;
    }
    .a6{
        position: absolute;
        left: 770px;
        top: 130px;
        opacity: 0.7;
    }
    .a11{
        position: absolute;
        left: 400px;
        top: 145px;
        opacity: 0.7;
    }
    .a7{
        position: absolute;
        left: 930px;
        top: 493px;
        opacity: 0.7;
    }
    .a9{
        position: absolute;
        left: 700px;
        top: 443px;
        opacity: 0.7;
    }
    .text1{
        position: absolute;
        margin-top: 30px;
        color: white;
        opacity: 1;
    }
    .text{
        position: absolute;
        margin-top: 30px;
        color: white;
        opacity: 1;
        text-align: center;
    }
    .text2{

    }
   
    .map{
        position: relative;
    }
